.tracker-left {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 5px;
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: center;
    background-color: rgb(50, 50, 50);
}
